*, html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Helvetica;
	scroll-behavior: smooth;
}

header {
	background:#49290acb;
	color: rgb(255, 253, 250);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.logo {
	margin-right: auto;
	display: flex;
	gap: 6px;
}

.logo-img {
	width: 35px;
	height: 35px;
	margin-left: 10px;
    	border-radius: 20px;
}

.logo-title {
	cursor: pointer;
	transition: all .5s ease 0s;
}

.logo:hover {
	color: tomato;
	transform: rotate(2deg);
}

.btn-cta {
	margin-right: 10px;
	border: none;
	font-size: 20px;
	padding: 6px 12px;
	background: brown;
	color: white;
	border-radius: 8px;
	cursor: pointer;
}

nav ul{
	display: flex;
	padding: 20px;
}

li {
	list-style-type: none;
	padding: 10px;
}

li a {
	transition: all .5s ease 0s;
	display: inline-block;
}

li a:hover {
	color: tomato;
	transform: rotate(2deg);
}

a {
	color: rgb(255, 253, 250);
	text-decoration: none;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 70px 0;
}

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	text-align: center;
}

.title {
	font-size: 22px;
	font-weight: bold;
   	text-align: center;
}

.description {
    text-align: center;
	font-size: 20px;
	font-weight: bolder;
}

.des{
	justify-content: center;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	width: 50%;
	min-height: 300px;
	max-height: 500px;
	background: #f7f7f7;
	color: #222;
	padding: 70px 0;
	box-shadow: 2px 5px 5px 1px rgba(0,0,0,0.5);
}
.desk{
	font-size: 18px;
	font-weight: bolder;
	margin: 30px;
}

.desc{
	font-size: 20px;
	font-weight: bold;
	margin: 50px;
}

.parallax {
	background-image: url('assetk/skincare.webp');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	
}

.tentang {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #49290acb;
	color: rgb(255, 253, 250);
	padding: 40px;
}

.mt-10 {
	margin-top: 20px;
}

.card {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.card-item {
	text-align: center;
	width: 25%;
	min-height: 200px;
	max-height: 300px;
	background: #f7f7f7;
	color: #222;
	padding: 24px;
	box-shadow: 2px 5px 5px 1px rgba(0,0,0,0.5);
}

.card-title {
	font-size: 18px;
	font-weight: bolder;
}

.card-description {
	font-size: 14px;
	margin-top: 4px;
}

.icon {
	width: 50px;
	height: 50px;
	margin: 10px;
	padding: 4px;
}

footer {
	padding: 20px;
	text-align: center;
	background: #49290acb;
	color: rgb(255, 253, 250);
}

@media screen and (max-width: 500px) {
	.logo-img{
		width: 30px;
		height: 30px;
	}
	.card {
		flex-direction: column;
		gap: 0;
	}
	.card-item {
		width: 100%;
		opacity: 0.9;
	}
	
	.container {
		width: 100%;
		padding: 0;
	}
	
	.intro {
		margin-top: 20px;
	}
	
	.icon{
		width: 25px;
		height: 25px;
	}
	
	.des {
		padding: 0;
		justify-content: center;
	}
	
	nav {
		position: fixed;
		bottom: 0;
		width: 100%;
		background: #1A2238;
		z-index: 9;
	}
	
	footer {
		margin-bottom: 70px;
		margin-top: 70px;
	}
}
